body{
    background-color: yellow;
}
 /* #tb1{
    width: 30%;
    border: 0px;
    
}

#tb2{
    width:30%;
    border: 0px;
    
}  */

#notDevouredBurgers{
    display: inline-block;
    float: left;
    margin-left: 25%;
    margin-top: 10%;
}
#devouredBurgers{
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-top: 10%;
}
#newOne{  
    padding-top: 30px;
}
#burgerimg{
    height:200px;
    padding-left:550px;
}
